## Student Performance Indicator

#### This project understands how the student's performance (test scores) is affected by other variables such as Gender, Ethnicity, Parental level of education, Lunch and Test preparation course.

### Import the libraries

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [3]:
#read the dataset
df_dataset= pd.read_csv('StudentsPerformance.csv')

In [4]:
#concise summary of dataframe
df_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [5]:
#display the first five rows of dataframe
df_dataset.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [6]:
#display the last five rows of dataframe
df_dataset.tail()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [7]:
#identify shape of the dataframe
df_dataset.shape

(1000, 8)

In [8]:
#view the columns of dataset
print(df_dataset.columns.values)

['gender' 'race/ethnicity' 'parental level of education' 'lunch'
 'test preparation course' 'math score' 'reading score' 'writing score']

In [9]:
#check for any duplicate rows
df_dataset.duplicated().sum()

0

In [10]:
#check for any variables with null values
df_dataset.isna().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

In [11]:
#select the numerical datatype variables  from dataset
num_dataset=df_dataset.select_dtypes(exclude='object')
num_dataset.columns

Index(['math score', 'reading score', 'writing score'], dtype='object')

In [12]:
#select the categorical datatype variables  from dataset
cate_dataset=df_dataset.select_dtypes(include='object')
cate_dataset.columns

Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course'],
      dtype='object')

In [13]:
#view the unique items in categorical datatype variables and its count
for col in df_dataset.select_dtypes(include='object'):
    print("The count of unique values in",col,":",df_dataset[col].nunique())
    print(df_dataset[col].unique())
    print("---------------------------------********------------------------------------------------***********-----------")
    print("")

The count of unique values in gender : 2
['female' 'male']
---------------------------------********------------------------------------------------***********-----------

The count of unique values in race/ethnicity : 5
['group B' 'group C' 'group A' 'group D' 'group E']
---------------------------------********------------------------------------------------***********-----------

The count of unique values in parental level of education : 6
["bachelor's degree" 'some college' "master's degree" "associate's degree"
 'high school' 'some high school']
---------------------------------********------------------------------------------------***********-----------

The count of unique values in lunch : 2
['standard' 'free/reduced']
---------------------------------********------------------------------------------------***********-----------

The count of unique values in test preparation course : 2
['none' 'completed']
---------------------------------********------------------------------------------------***********-----------